@font-face {
    font-family: Oswald;
    src: url("./../fonts/Courgette-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Courgett;
    src: url("./../fonts/Courgette-Regular.ttf");
    font-weight: normal;
}

h5,
h2,
h1,
span {
    font-family: Oswald;
}

h4 {
    margin: 15px;
    padding: 10px;
    font-family: Courgette, sans-serif;
    font-weight: bold;
}

#side-bar button {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#side-bar ul li {
    margin: 0 4px;
}

#side-bar ul li a {
    color: black;
}

#side-bar ul li a:hover {
    color: blue;
}

.footer {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    padding: 30px;
}

.primary-white {
    color: #FFFFFF;
}

.secondary-black {
    color: #000000;
    background-color: #FFFFFF;
    padding: 3px;
}

.footer ul {
    padding-left: 0;
}

ul li {
    list-style: none;
    text-decoration-line: underline;
}