@font-face {
    font-family: Oswald;
    src: url("./../fonts/Courgette-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Courgett;
    src: url("./../fonts/Courgette-Regular.ttf");
    font-weight: normal;
}

h5, h2, span{
    font-family:Oswald;
}
h4{
    margin: 15px;
    padding: 10px;
    font-family: Courgette, sans-serif;
    font-weight:bold;
}

.footer {
  background-color: #000000;
  color:#FFFFFF ;
  margin-top: 20px;
  padding: 30px;
}
.primary-white{
    color:#FFFFFF;
}
.secondary-black{
    color:#000000;
    background-color: #FFFFFF;
    padding: 3px;
}
ul li {
    list-style: none;
    text-decoration-line: underline;
}
ul li {
   
   
}