@font-face {
    font-family: Oswald;
    src: url("./../fonts/Courgette-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Courgett;
    src: url("./../fonts/Courgette-Regular.ttf");
    font-weight: normal;
}
#header {
    width: 100%;
    background-image: url("./../img/header.jpg");
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    background-size: cover;
}

.footer {
  background-color: #000000;
  color:#FFFFFF ;
  margin-top: 20px;
  padding: 30px;
}