
header{
    background: linear-gradient(336deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7) 70.71%),  url("./.././img/team/team.jpg");
    /* background-attachment: fixed, scroll; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.header-title{
    margin-top: 50px;
}

#team-header{
    width: 100%;
}
.team-photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* margin: 10px; */
}   
