header {
    background: linear-gradient(336deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) 70.71%),url(../img/team/team.jpg);
    /* background-attachment: fixed, scroll; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
nav {
    border-bottom: 2px solid white;
}
#header-img{
 padding-top: 20px;
}

.header {
    color: white;
    margin-top: 60px;
    padding-top: 50px;
}

.team {
    padding-top: 40px;
}

.team .name,
.team .photo {
    text-align: center;
}

#side-bar {
    margin-top: 20px;
}


/* .team-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */